.chat__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.chat__block {
    width: 100%;
}

.chat__msg-wrapp {
    display: flex;
    height: 77vh;
}

.chat__empty {
    justify-content: center;
    align-items: center;
}

.chat__empty-msg {
    color: #ffff;
}

.chat__started {
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow: auto;
    overflow-x: hidden;
}

.chat__msg-wrapp::-webkit-scrollbar {
    width: 6px;
}

.chat__msg-wrapp::-webkit-scrollbar-track {
    background: transparent;
}

.chat__msg-wrapp::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.chat__msg-wrapp::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.chat__msg {
    padding: 25px 10px;
    color: #fff;
}

.chat__msg-user {
    background: #343434;
}

.chat__msg-assistant {
    background: transparent;
}

.chat__item {
    display: block;
    max-width: 50rem;
    margin: 0 auto;
}

.chat__item-inner {
    display: flex;
    gap: 10px;
}

.chat__text {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

.chat__avatar {
    width: 35px;
    height: 35px;
    background: #7a7777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chat__form-wrapp {
    position: sticky;
    bottom: 20px;
    border-radius: 20px !important;
    margin-top: 40px;
    background: #444444 !important;
}

.chat__form {
    display: flex;
    align-items: center;
    width: 100%;
    border: none !important;
    background: #444444 !important;
    box-shadow: 22px 22px 31px #1a1a1a, -22px -22px 31px #2a2929 !important;
}

.chat__input {
    flex: 1;
    padding: 10px 15px;
}