.chat__container {
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.chat__input-wrapp {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #d4d7d9 !important;
    box-shadow: 7px 3px 15px 0 #C1C1C1 !important;
}

.chat__input {
    flex: 1;
    padding: 10px 15px;
}