.history-title {
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.history-item {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    margin: 20px 0;
}

.sidebar__buttons{
    margin-top: 30px;
    justify-content: space-between;
}
.sidebar__chat-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}
.sidebar__btn:hover {
    color: #48FF9E !important;
}